# ==========================================
# BUILD TRASH
# ==========================================
build/
*/build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_

# ==========================================
# PERSIONAL DATA
# ==========================================
local.properties
*.jks
*.keystore
*gradle.properties

# ==========================================
# ANDROID STUDIO & INTELLIJ
# ==========================================
.idea/
.gradle/
*.iml
*.iws
.gradletasknamecache

# ==========================================
# MAC OS & WINDOWS
# ==========================================
.DS_Store
Thumbs.db